:root {
    --sidebar-width: 250px;
}


.sidebar-desktop {
    width: var(--sidebar-width);
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background: #003b5c;
    color: white;
    padding-top: 20px;
    transition: all 0.3s;
    z-index: 1000;
}

.main-content {
    margin-left: var(--sidebar-width);
    transition: all 0.3s;
}

.navbar-mobile {
    display: none;
    background: #003b5c !important;
}

/* Ajustes para móvil */
@media (max-width: 991.98px) {
    .sidebar-desktop {
        display: none;
    }
    
    .navbar-mobile {
        display: block;
    }
    
    .main-content {
        margin-left: 0;
    }
}


.nav-link {
    color: white !important;
    padding: 12px 20px;
    text-align: center;
    border-radius: 4px;
    margin: 5px 10px;
}

.nav-link:hover, .nav-link.active {
    background-color: rgba(255,255,255,0.1);
}

.navbar-toggler {
    border-color: rgba(255,255,255,0.5);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.8%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}