 /* Estilos específicos para la vista del restaurante */
 .restaurant-detail-view {
    padding: 20px;
    background-color: #f9f9f9;
    margin: 0 auto;
    max-width: 800px; /* Ancho máximo para el contenido */
}
.restaurant-photo {
    text-align: center;
    margin-bottom: 20px;
}
.restaurant-photo img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
.restaurant-description {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
}
.user-reviews {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.user-review {
    margin-bottom: 10px;
}

.review-content {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .review-content[style*="display: block"] {
    opacity: 1;
  }
  
  .review-content {
    width: 100%;
    display: none;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
  }
  
